<!-- create form -->
<p class="lead">Add to Your Bucket-List</p>
<form id="create-form">
  <div class="form-group">
    <input type="text" class="form-control" name="todo[name]" id="create-item" placeholder="What do you want to do?" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="todo[description]" id="create-description" placeholder="Description" required>
  </div>
  <div class="form-group">
    <input type="date" class="form-control" name="todo[date]" id="create-date" placeholder="Date" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="todo[location]" id="create-location" placeholder="Where do you want to do it?">
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p id="create-form-feedback"></p>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<!-- end of create form -->
