<!-- update form -->
<form id="update-form" class="hidden">
  <div class="form-group">
    <label for="update-todo">THIS IS UPDATE To-do Name</label>
    <input type="text" class="form-control" name="todo[name]" id="update-item" placeholder="Name">
    <input type="hidden" name="todo[id]" id="update-form-id">
  </div>
  <div class="form-group">
    <label for="update-description">Description</label>
    <input type="text" class="form-control" name="todo[description]" id="update-description" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="update-date">Date</label>
    <input type="date" class="form-control" name="todo[date]" id="update-date" placeholder="Date">
  </div>
  <div class="form-group">
    <label for="update-location">Location</label>
    <input type="text" class="form-control" name="todo[location]" id="update-location" placeholder="Location">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<!-- end update form -->
